html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#retangle {
  width: 100%;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #248de9;
}

#img {
  width: 50px;
  height: 51.2px;
  width: 100%;
}

.img_retangle {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 50px;
  color: #0063c7;
}

.button {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}

.button h1 {
  color: #000000;
  font-size: 23px;
}

.botao {
  background-color: #071b96;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  max-width: 195px;
  height: 46px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(53, 51, 51, 0.8);
  border: none;
}

.botao:hover {
  background-color: #0056b3;
}

.weekdays,
.dates {
  display: flex;
  justify-content: space-between;
}

.weekdays div,
.dates div {
  width: 14.28%;
  text-align: center;
  padding: 10px 0;
}

.prev-dates,
.next-dates {
  color: #ccc;
}

.active-date {
  background-color: #198cff;
  color: white;
  border-radius: 10px;
  width: 76.19px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  top: 62px;
}

.appointments {
  margin-top: 20px;
}

.hora h2 {
  font-size: 19px;
  width: 100%;
  margin-left: 50px;
  max-width: 45px;
  height: 23px;
  display: inline-block;
  margin-right: 20px;
}

.hora h3 {
  font-size: 19px;
  width: 100%;
  margin-left: 80px;
  max-width: 202px;
  height: 23px;
  padding: 10px;
  display: inline-block;
  margin-right: 20px;
  top: 382px;
}

.appointment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 10px;
  width: 100%;
  height: 91px;
  max-width: 683px;
  margin-left: 50px;
}

.calendar {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin-right: 200px;
}

.appointment .time {
  font-weight: bold;
  margin-right: 20px;
}
.sub-time {
  font-size: 20px;
  color: #ccc;
  font-size: 14px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 300px;
}

.name {
  font-size: 17px;
  font-weight: bold;
  width: 211px;
  height: 28px;
  color: #000000;
}

.id {
  font-size: 17px;
  color: #ccc;
  width: 142px;
  height: 28px;
  margin-right: 40px;
}
