html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;

  margin: 0;
  border: 0;
}

body {
  background-color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#retangle {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #248de9;
}

#img {
  width: 50px;
  height: 51.2px;
}

.img_retangle {
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  box-shadow: 0 4px 8px rgba(53, 51, 51, 0.8);
  border: none;
}
.pac {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 78px;

  position: absolute;
  width: 18px;
  height: 18px;
  left: 131px;
  top: 108px;
}

.input input {
  height: 10px;
  width: 100%;
  border: none;
  background-color: transparent;
}
.input input:focus {
  outline: none;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  max-height: 100px;
  text-align: center;
  padding: 20px;
}
.form p {
  height: 100%;

  margin-right: 20px;

  font-size: 20px;
  font-weight: bold;
}
.form form {
  display: flex;
  align-items: center;
}
.input {
  display: flex;
  align-items: center;
  background-color: #e4e4e4;
  padding: 10px;
  border-radius: 19px;
  max-width: 745px;
  gap: 10px;
  box-sizing: border-box;
  width: 745px;
}

.input #lupa {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-left: 10px;
}

.button {
  background-color: #071b96;
  color: #ffffff;
  width: 180px;
  height: 40px;
  border-radius: 13px;
  padding: 14px, 41px, 14px, 41px;
  gap: 10px;
  margin-left: 20px;
  box-shadow: 0 4px 8px rgba(53, 51, 51, 0.8);
  border: none;
}

.button:hover {
  cursor: pointer;
  background-color: #061368;
}

.container-dentistas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dentista {
  background-color: #ffffff;
  width: 870px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 980px;
}

.nome-dentista {
  display: flex;
  align-items: end;
}

.nome-dentista img {
  margin: 0 30px;
  width: 20px;
}

#cpf {
  margin-right: 20px;
}

#carregarMais {
  position: sticky;
  bottom: 0;
  width: 180px;
  height: 40px;
  padding: 14px 41px 14px 41px;
  gap: 10px;
  border-radius: 13px;
  background-color: #071b96;
  color: #ffffff;
  font-size: 13px;
  box-shadow: 0 4px 8px rgba(53, 51, 51, 0.8);
  border: none;
  margin-top: 20px;
}
