html, body{
  height: 100%;
  width: 100%;
  padding: 0px;

  margin: 0;
  border: 0;
}

body {
  background-color: white;
  font-family: 'Inter', sans-serif ;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#retangle {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #248DE9;
}

#img{
  width: 50px;
  height: 51.2px;
}

.img_retangle {
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h2 {
  margin-top: 40px;
}

.img_retangle {
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.img-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-perfil img {
  width: 200px;

  border-radius: 50%;
}

.informacao-pessoal {
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#registration-form {
  width: 100%;
  max-width: 600px;
}

#registration-form label{ 
  font-weight: 400;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input, select {
  height: 48px;
  font-size: 15px;
  padding: 0 10px;

  border: 2pt solid #999999;
  margin-bottom: 15px;
  margin: 10px 0;
}

.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;

  margin: 10px 0;
}

.radio-group input {
  width: 25px;
  margin: 0 10px 0 0;
}
.radio-group label {
  margin-right: 10px;
}

.form-group button {
  width: 100%;
  height: 48px;
  background-color: #071B96;
  color: white;

  border-radius: 13px;
  border: none;


  font-size: 17px;
  font-weight: 600;

  margin-bottom: 50px;
  margin-top: 10px;
}

@media (max-width: 620px) {
  .radio-group {
      display: grid;
      grid-template-columns: 1fr 7fr;
      gap: 0;
  }

  .radio-group label {
      margin-bottom: 0;
  }
}

@media (min-width: 1300px) {
  
}
