html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;

  margin: 0;
  border: 0;
}

body {
  background-color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#retangle {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #248de9;
}

#img {
  width: 50px;
  height: 51.2px;
}

.img_retangle {
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.button-container button {
  margin: 0 10px;
  width: 320px;
  height: 60px;
  left: 130px;
  top: 182px;
  background-color: #071b96;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(53, 51, 51, 0.8);
  border: none;
}
.button-container button:hover {
  background-color: #04126d;
}
@media screen and (max-width: 800px) {
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-container button {
    margin-bottom: 20px;
  }
}
