html, body{
    height: 100%;
    width: 100%;
    padding: 0px;
}

body {
    background-color: white;
    font-family: 'Inter', sans-serif ;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#retangle {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #248DE9;
}

#img{
    width: 50px;
    height: 51.2px;
}

.img_retangle {
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: calc(100vh - 100px)

}


.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main{
    max-width: 1180px;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
}
.main h1{
    font-size: large;
}
.nome-paciente {
    display: flex;
    flex-direction: column;
}

.radio-buttons, .radio-estado-civil {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sexo label{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-left: 20px;
}

.estado-civil {
    margin-left: 20px;
}

.estado-civil label{
    display: flex;
    flex-direction: row;
}
.cpf label{
    display: flex;
    flex-direction: row;
}
.cartao label{
    display: flex;
    flex-direction: row;
}

.data-nascimento, .cartao, .data-nascimento, .telefone-celular {
    margin-left: 30px;
}

.data-nascimento label{
    display: flex;
    flex-direction: row;
}
.telefone-celular label{
    display: flex;
    flex-direction: row;
}
.bairro label{
    display: flex;
    flex-direction: row;
}
.complemento label{
    display: flex;
    flex-direction: row;
}
.cidade label{
    display: flex;
    flex-direction: row;
}
.cep label{
    display: flex;
    flex-direction: row;
}
.estado label{
    display: flex;
    flex-direction: row;
}
.numero label{
    display: flex;
    flex-direction: row;
}
.container-info-pessoal{
    display: flex;
    flex-direction: row;
}
.container-info-doc{
    display: flex;
    flex-direction: row;
}
.container-info-bairro{
    display: flex;
    flex-direction: row;
}
.container-info-cidade{
    display: flex;
    flex-direction: row;
}

#sexo{
    width: 20px;
    height: 20px;
    border-radius: 16px;
    border: 1.64px;
    margin-left: 20px;
}

#estado-civil{
    width: 20px;
    height: 20px;
    gap: 0px;
    border-radius: 16px ;
    border: 1.64px;

}

.nome-paciente input, .bairro input, .complemento input, .cidade input{
    width: 100%;
    min-width: 300px;
    max-width: 548px;
    height: 35px;
    gap: 20px;
    margin-bottom: 15px;
    border: 2px solid #999999;
}

.cpf input, .cartao input, .data-nascimento input, .telefone-celular input{
    width: 170px;
    height: 35px;
    gap: 20px;
    border: 2px solid #999999;
}

.cidade, .cep{
    margin-left: 30px;
}

.cep input, .estado input, .numero input{
    width: 140px;
    height: 35px;
    gap: 20px;
    margin-right: 30px;

    border: 2px solid #999999;
}

button{
    width: 180px;
    height: 40px;
    padding: 14px 41px 14px 41px;
    gap: 10px;
    border-radius: 13px;
    background-color: #071B96;
    color: #FFFFFF;
    font-size: 13px;
}
.button:hover{
    cursor: pointer;
   background-color: #061368; 
}

#save {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    max-width: 840px;
    width: 100%;
}