html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;

  margin: 0;
  border: 0;
}

body {
  background-color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#retangle {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #248de9;
}

#img {
  width: 50px;
  height: 51.2px;
}

.img_retangle {
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h2 {
  margin-top: 40px;
}
.foto_perfil h4 {
  margin-top: 10px;
  width: 100%;
  max-width: 130px;
  margin-left: 10px;
}

.img_retangle {
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-perfil img {
  width: 200px;

  border-radius: 50%;
}

.informacao-pessoal {
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#registration-form {
  width: 100%;
  max-width: 600px;
}

#registration-form label {
  font-weight: 400;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input,
select {
  height: 48px;
  font-size: 15px;
  padding: 0 10px;

  border: 2pt solid #999999;
  margin-bottom: 15px;
  margin: 10px 0;
}

.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;

  margin: 10px 0;
}

.radio-group input {
  width: 25px;
  margin: 0 10px 0 0;
}
.radio-group label {
  margin-right: 10px;
}

.form-group button {
  max-width: 600px;
  width: 100%;
  height: 48px;
  background-color: #071b96;
  color: white;

  border-radius: 13px;
  border: none;

  font-size: 17px;
  font-weight: 600;

  margin-bottom: 50px;
  margin-top: 10px;
}

.form-group button:hover {
  background-color: #002699;
}
.botao button {
  height: 33px;
  background-color: #071b96;
  color: white;

  padding: 8px 12px;
  border: none;

  font-size: 14px;
  font-weight: bold;
  cursor: pointer;

  margin-bottom: 50px;
  margin-top: 4px;
  margin-left: 2px;
  padding: 8px 12px;
}
.botao button:hover {
  background-color: #002699;
}

@media (max-width: 620px) {
  .radio-group {
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 0;
  }

  .radio-group label {
    margin-bottom: 0;
  }
}

@media (min-width: 1300px) {
}
.time-selection-container {
  margin-top: -30px; /* Ajuste este valor para subir ou descer o elemento */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.time-selection {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.time-selection label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  align-items: center;
}

.time-selection .time-input {
  align-items: center;
  margin-right: 10px;
}

.time-selection input[type="number"] {
  width: 40px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

.time-selection select {
  height: 28px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 0.5px;
}

.time-selection span {
  margin: 05px;
}
.informacoes-pessoais .form-group {
  color: #000000;
}
.documentacao {
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
}
.documentacao label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.documentacao input[type="file"] {
  padding: 5px;
  font-size: 17px;
  border-radius: 90px;
  border: none;
}
